<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as headerControllerModel">
    <div class="container-fluid">
        <div class="navbar-header nav-margin">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand margin-set" href="#/home">Eat'n'Review</a>
        </div>
        <div ng-hide ="headerControllerModel.$location.url() == '/home' ||
                       headerControllerModel.$location.url() == '/admin/user' ||
                       headerControllerModel.$location.url() == '/searchhome'"
             class="hidden-sm hidden-xs">
            <div class="col-sm-3 col-sm-offset-2">
                <input ng-model="headerControllerModel.restname_header"
                       class="form-control navsearch-margin margin-lft-searchbox"
                       placeholder="Dosa Factory, Qdoba...(optional)">
            </div>
            <div class="col-sm-3 margin-lft-searchbox">
                <div class="input-group">
                    <input type="text" ng-model="headerControllerModel.location_header"
                           class="form-control navsearch-margin" placeholder="Boston">
                    <div class="input-group-btn">
                        <button ng-click="headerControllerModel.callToSearch(headerControllerModel.restname_header,
                        headerControllerModel.location_header) "
                                class="btn btn-primary navsearch-margin" type="button">
                            <i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right margin-set1">
                <li ng-if="currentUser">
                    <a href="#/searchhome" class="margin-set2">Home</a>
                </li>
                <li ng-if="headerControllerModel.$location.url() == '/home'">
                   <a href="#/admin/user" class="margin-set2">Admin</a>
                </li>
                <li ng-hide="currentUser">
                    <a href="#/register" class="margin-set2">Sign Up</a>
                </li>
                <li ng-hide="currentUser">
                    <a href="#/login" class="margin-set2">Login</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#/{{currentUser._id}}/profile">{{currentUser.username}}</a>
                <li ng-hide="!currentUser"
                    ng-click="headerControllerModel.logOut()">
                    <a href="">Logout</a>
            </ul>
        </div>
    </div>
</nav>