<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-0">
            <div class="errorBox text-center">
                <div ng-if="loginControllerModel.showError"
                     role="alert"
                     class="alert alert-danger alert-dismissible">
                    <button type="button"
                            class="close btn-xs"
                            data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Incorrect username/password!</strong>Try entering correct userid/password.
                </div>
            </div>
            <h2 class="page-header col-sm-offset-1 col-sm-10 text-center">Login</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input ng-model="loginControllerModel.user.username" type="text"
                                   class="form-control" id="username"
                                   placeholder="Username" autofocus/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="password" class="col-sm-2">Password:</label>-->
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input ng-model="loginControllerModel.user.password"
                                   type="password"
                                   class="form-control"
                                   id="password" placeholder="Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <a ng-click="loginControllerModel.login(loginControllerModel.user)"
                           href="" class="btn btn-success btn-block top-margin">Login</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10 text-center">
                        <h4>New to Eat'n'Review?</h4>
                        <h4>Sign up <a href="#/register">here</a></h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>