<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-0">
            <div class="errorBox text-center">
                <div ng-if="registerControllerModel.showError"
                     role="alert"
                     class="alert alert-danger">
                    <strong>Username already exists/Few fields are empty!</strong> Please choose different username.
                </div>
                <div ng-if="registerControllerModel.showGenralError"
                     role="alert"
                     class="alert alert-danger">
                    <strong>Ohh...Snap!!</strong> Something went wrong...Try registering again.
                </div>
            </div>
            <h2 class="page-header col-sm-offset-1 col-sm-10 text-center"> Create your Account</h2>
            <p class="col-sm-offset-1 col-sm-10 text-center lead">Eat'n'Review leads you to places you'll love</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <!--<label for="username" class="col-sm-2">Username:</label>-->
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input ng-model="registerControllerModel.user.firstName"
                                   type="text"
                                   class="form-control"
                                   id="firstname"
                                   placeholder="First name" autofocus/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                              <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                              </span>
                            <input ng-model="registerControllerModel.user.lastName"
                                   type="text"
                                   class="form-control"
                                   placeholder="Last name"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <input ng-model="registerControllerModel.user.email"
                                   type="email"
                                   class="form-control"
                                   placeholder="Email"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                              <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                              </span>
                            <input ng-model="registerControllerModel.user.city"
                                   type="text"
                                   class="form-control"
                                   placeholder="City"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input ng-model="registerControllerModel.user.username"
                                   type="text"
                                   class="form-control"
                                   placeholder="Username"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input ng-model="registerControllerModel.user.password"
                                   type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input ng-model="registerControllerModel.user.vpassword"
                                   type="password"
                                   class="form-control"
                                   id="vpassword"
                                   placeholder="Verify Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <a ng-click="registerControllerModel.register(registerControllerModel.user)"
                           href="" class="btn btn-success btn-block">Sign Up</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10 text-center">
                        <h4>Already have an account?</h4>
                        <h4>Log in <a href="#/login">here</a></h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>