<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ng-if="reviewsControllerModel.currentUser._id != reviewsControllerModel.profileUser._id">
                    {{reviewsControllerModel.profileUser.username}} Profile</a>
                <a ng-if="reviewsControllerModel.currentUser._id == reviewsControllerModel.profileUser._id"
                   href="#/{{reviewsControllerModel.userId}}/profile">
                    {{reviewsControllerModel.profileUser.username}} Profile</a>
            </li>
            <li ng-class="{'active': reviewsControllerModel.$location.url() == '/{{reviewsControllerModel.userId}}/profile/reviews'}">
                <a href="#/{{reviewsControllerModel.userId}}/profile/reviews">
                    <i class="fa fa-comments" aria-hidden="true"></i> Reviews</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/likes">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/followers">
                    <i class="fa fa-users" aria-hidden="true"></i> Followers</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/following">
                    <i class="fa fa-users" aria-hidden="true"></i> Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--<button ng-click="reviewsControllerModel.toggleMenu()" class="btn btn-default" id="menu-toggle">-->
    <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!--<h1>Reviews</h1>-->
        <div class="row">
            <div class="col-xs-6">
                <h1>Reviews</h1>
            </div>
            <div ng-if="reviewsControllerModel.currentUser._id != reviewsControllerModel.profileUser._id">
                <div class="col-xs-3 img-center col-sm-2 text-center">
                    <img ng-src="{{reviewsControllerModel.profileUser.imgUrl}}"
                         height="100" width="100" class="avatar img-circle hidden-sm hidden-xs" alt="avatar">
                    <img ng-src="{{reviewsControllerModel.profileUser.imgUrl}}"
                         height="100" width="100" class="avatar img-circle visible-sm" alt="avatar">
                    <img ng-src="{{reviewsControllerModel.profileUser.imgUrl}}"
                         height="100" width="100" class="avatar img-circle visible-xs" alt="avatar">
                </div>
                <div class="col-xs-3">
                    <div class="row mar-user-top hidden-xs hidden-sm">
                        <p class="lead">User:{{reviewsControllerModel.profileUser.username }}</p>
                    </div>
                    <div class="row visible-xs visible-sm">
                        <p class="lead">User:{{reviewsControllerModel.profileUser.username }}</p>
                    </div>
                    <div class="row">
                        <div class="hidden-xs">
                            <a ng-hide="reviewsControllerModel.isfollowed" href=""
                               class="btn btn-sm btn-default text-center"
                               ng-click="reviewsControllerModel.followUser(reviewsControllerModel.userId)">Follow
                            </a>
                            <a ng-if="reviewsControllerModel.isfollowed" href=""
                               class="btn btn-sm btn-warning"
                               ng-click="reviewsControllerModel.unFollowUser(reviewsControllerModel.userId)">UnFollow
                            </a>
                        </div>
                        <div class="visible-xs">
                            <a ng-hide="reviewsControllerModel.isfollowed" href=""
                               class="btn btn-xs btn-default text-center"
                               ng-click="reviewsControllerModel.followUser(reviewsControllerModel.userId)">Follow
                            </a>
                            <a ng-if="reviewsControllerModel.isfollowed" href=""
                               class="btn btn-xs btn-warning"
                               ng-click="reviewsControllerModel.unFollowUser(reviewsControllerModel.userId)">UnFollow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div ng-if="reviewsControllerModel.noReviews"
                 role="alert"
                 class="alert alert-warning">
                <strong>No Reviews!</strong> Have something to say about food.
                <a href="#/searchhome" class="alert-link">Search and write reviews </a>now!
            </div>
            <div class="row" ng-repeat="review in reviewsControllerModel.reviews">
                <div class="col-sm-3">
                    <div class="text-center">
                        <div class="thumbnail">
                            <a href="#/detail/{{review.restaurant._id}}">
                                <img class="img-responsive" ng-src="{{review.restaurant.imageUrl}}"/>
                            </a>
                            <div class="caption">
                                <a href="#/detail/{{review.restaurant._id}}">{{review.restaurant.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p class="lead">{{review.title}}</p>
                    <p>{{review.review}}</p>
                    <div class="row">
                        <div class="col-xs-8 nowrap">
                            <p>
                                <ng-rating ng-model="review.rating"
                                           editable="false">
                                </ng-rating>
                                on {{review.updatedOn | date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
