
    <!--<div class="row">-->
        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right hidden-xs tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{detailsControllerModel.rest.name}}</h2>
            </div>

        </div>
    <div class="row">
        <div class="col-sm-5 restdetails-container">
            <img src={{detailsControllerModel.imageurl}} class="img-responsive"/>
            <!--<img src={{detailsControllerModel.rest.rating_img_url}} class="img-responsive"/>-->
            <ng-rating ng-model="detailsControllerModel.avgRating"
                       editable="false" show-grade="true">
            </ng-rating>

        </div>
        <div class="col-sm-4">
            <p>
                {{detailsControllerModel.rest.snippet_text}}
            </p>
            <p>{{detailsControllerModel.rest.categories[0][0]}} ,
                {{detailsControllerModel.rest.categories[1][0]}}</p>

            <p>{{detailsControllerModel.rest.location.display_address[0]}},
                {{detailsControllerModel.rest.location.display_address[1]}}
                {{detailsControllerModel.rest.location.display_address[2]}}</p>

            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                 {{detailsControllerModel.rest.display_phone}}</p>
            <hr>

            <a ng-hide="detailsControllerModel.isliked" href=""
               ng-click="detailsControllerModel.likeRest(detailsControllerModel.rest.id)">
                <i title="Like" class="fa fa-thumbs-o-up fa-lg"></i></a>
            <a ng-if="detailsControllerModel.isliked" href=""
               ng-click="detailsControllerModel.undolikeRest(detailsControllerModel.rest.id)">
                <i title="Unlike" class="fa fa-thumbs-o-up fa-lg orangecolor"></i></a> &nbsp
            <!--<i class="fa fa-thumbs-o-down fa-lg"></i>Dislike &nbsp-->
            <i class="fa fa-bookmark fa-lg"></i>Save
            <hr>
        </div>
        <!--Map div-->
        <div class="col-sm-3">
            <div id="map" class="map"></div>
            <!--<ng-map zoom="16" center="[{{detailsControllerModel.rest.location.coordinate.latitude}},-->
            <!--{{detailsControllerModel.rest.location.coordinate.longitude}}]">-->
                <!--<marker position="[{{detailsControllerModel.rest.location.coordinate.latitude}},-->
                 <!--{{detailsControllerModel.rest.location.coordinate.longitude}}]"-->
                <!--on-click = "click()" title="{{detailsControllerModel.rest.name}}"-->
                        <!--centered="true"/>-->
            <!--</ng-map>-->
        </div>
        <!--End Map div-->
    </div>
        <div ng-if="!currentUser" class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-info-circle"></i>
            Please <strong>login</strong> to review your favorite restaurant!
        </div>
        <div class="panel panel-default margin-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews for {{detailsControllerModel.rest.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well margin-well">
                        <h4>Start your review!</h4>
                        <div ng-hide="detailsControllerModel.readonly">
                            <ng-rating ng-model="detailsControllerModel.defaultReview.rating"
                                       editable="detailsControllerModel.defaultReview.editableRating">
                            </ng-rating>
                        </div>
                        <div ng-if="detailsControllerModel.readonly">
                            <ng-rating ng-model="detailsControllerModel.defaultReview.rating"
                                       editable=false>
                            </ng-rating>
                        </div>
                        <form role="form">
                            <div class="form-group">
                                <input type="text"
                                       ng-readonly="detailsControllerModel.readonly"
                                       class="form-control"
                                       placeholder="Please enter title of the review"
                                       ng-model="detailsControllerModel.defaultReview.title"/>
                            </div>
                            <div class="form-group">
                                <textarea ng-readonly="detailsControllerModel.readonly"
                                          class="form-control"
                                          ng-model="detailsControllerModel.defaultReview.review"
                                          rows="3"
                                          placeholder="Please enter description of the review">
                                </textarea>
                            </div>
                            <button ng-disabled="detailsControllerModel.readonly"
                                    ng-click="detailsControllerModel.addReview(detailsControllerModel.defaultReview)"
                                    class="btn btn-primary">Post Review</button>
                        </form>
                    </div>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media margin-well" ng-repeat="review in detailsControllerModel.reviews">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 ng-hide="detailsControllerModel.selectedreview == $index"
                                class="media-heading">{{review.title}}
                                <i class="fa fa-check-circle"></i>
                                <small>Follow</small>
                            </h4>
                            <h4 ng-hide="detailsControllerModel.selectedreview == $index" class="media-heading">
                                <small>By <a href="">{{review.username}}</a> on {{review.updatedOn | date}}</small>
                            </h4>
                            <p ng-hide="detailsControllerModel.selectedreview == $index">{{review.review}}</p>
                            <div ng-show="detailsControllerModel.selectedreview == $index" class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="detailsControllerModel.editablereview.title"/>
                            </div>
                            <div ng-show="detailsControllerModel.selectedreview == $index">
                                <textarea class="form-control" rows="3" type="text"
                                          ng-model="detailsControllerModel.editablereview.review"></textarea>
                                <!--<button class="btn btn-success" ng-click="save(editablereview,$index)">Save</button>-->

                                <!--<button class="btn btn-danger" ng-click="disableEditor($index)">Cancel</button>-->
                            </div>
                            <a href="" ><i title="Report Review" class="fa fa-flag pull-right flag-hover"></i></a>
                            <div class="row">
                                <div class="col-xs-8" ng-hide="detailsControllerModel.selectedreview == $index">
                                        <ng-rating ng-model="review.rating"
                                               editable="false">
                                        </ng-rating>
                                    <!--{{review.createdOn | date}}-->
                                </div>
                                <!--Below div shows up in edit mode for star rating-->
                                <div class="col-xs-8" ng-show="detailsControllerModel.selectedreview == $index">
                                        <ng-rating ng-model="detailsControllerModel.editablereview.rating"
                                               editable="true">
                                        </ng-rating>
                                    <!--{{review.createdOn | date}}-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-hide="detailsControllerModel.selectedreview == $index"
                                         class="btn-group pull-right">
                                        <a class="btn btn-default"
                                           ng-click="detailsControllerModel.editReview($index)"> Edit
                                            <i title="Edit Review" class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="btn btn-default"
                                           ng-click="detailsControllerModel.deleteReview($index)">Delete
                                            <i title="Delete Review" class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                    <div ng-if="detailsControllerModel.selectedreview == $index" class="btn-group pull-right">
                                        <a class="btn btn-default"
                                           ng-click="detailsControllerModel.save(detailsControllerModel.editablereview, $index)">Save
                                            <i title="Save Review" class="fa fa-floppy-o"></i>
                                        </a>

                                        <a class="btn btn-default"
                                           ng-click="detailsControllerModel.disableEditor($index)">Cancel
                                            <i title="Cancel" class="fa fa-times-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>