
    <!--<div class="row">-->
        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover pad-left-right hidden-xs tmargin">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item margin-bottom-zero" src="http://placehold.it/500x300" alt="">-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{rest.name}}</h2>
            </div>

        </div>
    <div class="row">
        <div class="col-sm-3">
            <img src={{imageurl}} class="img-responsive"/>
            <img src={{rest.rating_img_url}} class="img-responsive"/>

        </div>
        <div class="col-sm-5">
            <p>
                {{rest.snippet_text}}
            </p>
            <p>{{rest.categories[0][0]}} , {{rest.categories[1][0]}}</p>

            <p>{{rest.location.display_address[0]}}, {{rest.location.display_address[1]}}
                {{rest.location.display_address[2]}}</p>

            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                 {{rest.display_phone}}</p>
            <hr>

            <i class="fa fa-thumbs-o-up fa-lg"></i>Like &nbsp
            <i class="fa fa-thumbs-o-down fa-lg"></i>Dislike &nbsp
            <i class="fa fa-bookmark fa-lg"></i>Save
            <hr>
        </div>
        <!--Map div-->
        <div class="col-sm-4">
            <ng-map zoom="16" center="[{{rest.location.coordinate.latitude}}, {{rest.location.coordinate.longitude}}]">
                <marker position="[{{rest.location.coordinate.latitude}}, {{rest.location.coordinate.longitude}}]"
                on-click = "markerClick()" title="{{rest.name}}"
                        centered="true"/>
            </ng-map>
        </div>
        <!--End Map div-->

    </div>
        <div ng-if="!user" class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-info-circle"></i>
            Please <strong>login</strong> to review your favorite restaurant!
        </div>
        <div class="panel panel-default margin-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews for {{rest.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well margin-well" ng-repeat="rate in defaultRating">
                        <h4>Start your review!</h4>
                        <!--<i class="fa fa-star-o fa-lg"></i>-->
                        <!--<i class="fa fa-star-o fa-lg"></i>-->
                        <!--<i class="fa fa-star-o fa-lg"></i>-->
                        <!--<i class="fa fa-star-o fa-lg"></i>-->
                        <!--<i class="fa fa-star-o fa-lg"></i>-->
                        <div ng-hide="readonly"><ng-rating ng-model="rate.rating"
                                   icon-class="rate.iconClass"
                                   editable="rate.editableRating"
                                   stars-count="rate.starsCount"
                                   based-on="rate.basedOn"
                                   show-grade="rate.showGrade">
                        </ng-rating></div>
                        <div ng-if="readonly"><ng-rating ng-model="rate.rating"
                                   icon-class="rate.iconClass"
                                   editable=false
                                   stars-count="rate.starsCount"
                                   based-on="rate.basedOn"
                                   show-grade="rate.showGrade">
                        </ng-rating></div>
                        <form role="form">
                            <div class="form-group">
                                <textarea ng-readonly="readonly" class="form-control"
                                          ng-model="review" rows="3"></textarea>
                            </div>
                            <button ng-disabled="readonly"
                                    ng-click="addReview(rate.rating, review, user)"
                                    class="btn btn-primary">Post Review</button>
                        </form>
                    </div>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media margin-well" ng-repeat="review in ratings">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{review.firstName}} {{review.lastName}}
                                <i class="fa fa-check-circle"></i>
                                <small>Follow</small>
                            </h4>
                            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante-->
                            <!--sollicitudin commodo.-->
                            <p ng-hide="selectedreview == $index">{{review.description}}</p>
                            <div ng-show="selectedreview == $index">
                                <textarea class="form-control" rows="3" type="text" ng-model="editablereview"></textarea>
                                <!--<button class="btn btn-success" ng-click="save(editablereview,$index)">Save</button>-->

                                <!--<button class="btn btn-danger" ng-click="disableEditor($index)">Cancel</button>-->
                            </div>
                            <a href="" ><i title="Report Review" class="fa fa-flag pull-right flag-hover"></i></a>
                            <div class="row">
                                <div class="col-xs-8" ng-hide="selectedreview == $index">
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star-o fa-lg"></i>-->
                                    <!--<i class="fa fa-star-o fa-lg"></i>-->
                                        <ng-rating ng-model="review.rating"
                                               icon-class="review.iconClass"
                                               editable="review.editableRating"
                                               stars-count="review.starsCount"
                                               based-on="review.basedOn"
                                               show-grade="review.showGrade">
                                        </ng-rating>
                                    {{review.createdOn | date}}
                                </div>
                                <!--Below div shows up in edit mode for star rating-->
                                <div class="col-xs-8" ng-show="selectedreview == $index">
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star fa-lg"></i>-->
                                    <!--<i class="fa fa-star-o fa-lg"></i>-->
                                    <!--<i class="fa fa-star-o fa-lg"></i>-->
                                        <ng-rating ng-model="review.rating"
                                               icon-class="review.iconClass"
                                               editable="true"
                                               stars-count="review.starsCount"
                                               based-on="review.basedOn"
                                               show-grade="review.showGrade">
                                        </ng-rating>
                                    {{review.createdOn | date}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-hide="selectedreview == $index" class="btn-group pull-right">
                                        <a class="btn btn-default" ng-click="editReview($index)"> Edit
                                            <i title="Edit Review" class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="btn btn-default" ng-click="deleteReview($index)">Delete
                                            <i title="Delete Review" class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                    <div ng-if="selectedreview == $index" class="btn-group pull-right">
                                        <a class="btn btn-default" ng-click="save(editablereview, $index)">Save
                                            <i title="Save Review" class="fa fa-floppy-o"></i>
                                        </a>

                                        <a class="btn btn-default" ng-click="disableEditor($index)">Cancel
                                            <i title="Cancel" class="fa fa-times-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>



