<!--<div class="container">-->
<!--<h3>Search Results</h3>-->
<!--<div class="table-responsive" ng-controller="SearchController">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Restaurant ID</th>-->
<!--<th>Name</th>-->
<!--<th>Ratings</th>-->
<!--<th>Image</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="rest in data.businesses">-->
<!--<td>{{rest.id}}</td>-->
<!--<td>-->
<!--<a href="#/detail/{{rest.id}}">{{rest.name}}</a>-->
<!--</td>-->
<!--<td><img ng-src="{{rest.rating_img_url}}"/></td>-->
<!--<td><img ng-src="{{rest.image_url}}"/></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row text-center">
        <div class="col-xs-6 col-sm-6">
            <p class="lead">Browsing {{location}} food places</p>
        </div>
        <div class="col-xs-6 col-sm-6">
            <p class="lead">Showing {{endIndex-10}}-{{totalResponse>10
                ?endIndex-10-startIndex:totalResponse}} of {{totalResponse}}</p>
        </div>
    </div>
    <div class="row" ng-repeat="rest in data.businesses|limitTo:endIndex |limitTo:startIndex" ng-if="$index >= 1">
        <hr>
        <div class="col-xs-3 col-sm-2 text-center">
            <img ng-src="{{rest.image_url}}"/>
        </div>
        <div class="col-xs-6 col-sm-5 txtright">
            <div class="row">{{$index}}. <a href="#/detail/{{rest.id}}">{{rest.name}}</a></div>
            <div class="row"><p><img ng-src="{{rest.rating_img_url}}"/> {{rest.review_count}} Reviews</p></div>
            <div class="row"><p>{{rest.categories[0][0]}} | {{rest.categories[1][0]}}</p></div>
            <div class="row visible-xs"><p>{{rest.location.address[0]}}, {{rest.location.city}}</p></div>
            <div class="row"><i class="fa fa-bookmark"></i> Save</div>
        </div>
        <div class="hidinxs col-xs-3 col-sm-5 text-center">
            <p>{{rest.location.neighborhoods[0]}}</p>
            <p>{{rest.location.display_address[0]}}</p>
            <p>{{rest.location.display_address[2]}}</p>
            <p>{{rest.display_phone}}</p>
        </div>
    </div>
    <div class="row">
        <hr>
       <div class="col-xs-6 col-sm-6">
           <a class="btn btn-sm btn-info" href=""
            ng-click="previousPage()"
           ng-disabled="showPrevious == false || totalResponse <= 10">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
       </div>

        <div class="col-xs-6 col-sm-6">
            <a class="btn btn-sm btn-info pull-right" href=""
           ng-click="nextPage()"
           ng-disabled="showNext == false || totalResponse <= 10">
            Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>