.form-field-border{
    border: 1px solid #d5d5d5;
}

.p-left{
    padding-left: 0px;
}

.glyphicon.glyphicon-plus {
    font-size: 20px;
    color: green;
}

.pad-left{
    padding-left: 22px;
}

.glyphicon.glyphicon-ok {
    font-size: 20px;
}

.glyphicon.glyphicon-remove {
    font-size: 20px;
    color: red;
}

.glyphicon.glyphicon-pencil {
    font-size: 20px;
    color: #5e5e5e;
}

.glyphicon.glyphicon-align-justify{
    font-size: 20px;
}

.edit-icon-lt {
    padding-right: 8px;
}

.form-fields {
    margin: 20px;
}

.chkbox1{
    /*padding-left: 15px;*/
    margin-top:0px;
}

.rad1{
    margin-top: 0px;
}

/*.gly1{*/
    /*margin-top: -20px;*/
/*}*/

/*.gly2{*/
    /*margin-top: -45px;*/
/*}*/

hr {
    border: none;
    height: 1px;
    /*width: 90%;*/
    /*float: left;*/
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
