<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ng-if="followersControllerModel.currentUser._id != followersControllerModel.profileUser._id">
                    {{followersControllerModel.profileUser.username}} Profile</a>
                <a ng-if="followersControllerModel.currentUser._id == followersControllerModel.profileUser._id"
                   href="#/{{followersControllerModel.userId}}/profile">
                    {{followersControllerModel.profileUser.username}} Profile</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/reviews">
                    <i class="fa fa-comments" aria-hidden="true"></i> Reviews</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/likes">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a>
            </li>
            <li ng-class="{'active': followersControllerModel.$location.url() == '/{{followersControllerModel.userId}}/profile/followers'}">
                <a href="#/{{followersControllerModel.userId}}/profile/followers">
                    <i class="fa fa-users" aria-hidden="true"></i> Followers</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/following">
                    <i class="fa fa-users" aria-hidden="true"></i> Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--<button ng-click="followersControllerModel.toggleMenu()"-->
    <!--class="btn btn-default"-->
    <!--id="menu-toggle">-->
    <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!--<h1>Followers</h1>-->
        <div class="row">
            <div class="col-xs-6">
                <h1>Followers</h1>
            </div>
            <div ng-if="followersControllerModel.currentUser._id != followersControllerModel.profileUser._id">
                <div class="col-xs-3 img-center col-sm-2 text-center">
                    <img ng-src="{{followersControllerModel.profileUser.imgUrl}}"
                         height="100" width="100"
                         class="avatar img-circle hidden-sm hidden-xs" alt="avatar">
                    <img ng-src="{{followersControllerModel.profileUser.imgUrl}}"
                         height="100" width="100" class="avatar img-circle visible-sm" alt="avatar">
                    <img ng-src="{{followersControllerModel.profileUser.imgUrl}}"
                         height="100" width="100" class="avatar img-circle visible-xs" alt="avatar">
                </div>
                <div class="col-xs-3">
                    <div class="row mar-user-top hidden-xs hidden-sm">
                        <p class="lead">User:{{followersControllerModel.profileUser.username }}</p>
                    </div>
                    <div class="row visible-xs visible-sm">
                        <p class="lead">User:{{followersControllerModel.profileUser.username }}</p>
                    </div>
                    <div class="row">
                        <div class="hidden-xs">
                            <a ng-hide="followersControllerModel.isfollowed" href=""
                               class="btn btn-sm btn-default text-center"
                               ng-click="followersControllerModel.followUser1(followersControllerModel.userId)">Follow
                            </a>
                            <a ng-if="followersControllerModel.isfollowed" href=""
                               class="btn btn-sm btn-warning"
                               ng-click="followersControllerModel.unFollowUser1(followersControllerModel.userId)">UnFollow
                            </a>
                        </div>
                        <div class="visible-xs">
                            <a ng-hide="followersControllerModel.isfollowed" href=""
                               class="btn btn-xs btn-default text-center"
                               ng-click="followersControllerModel.followUser1(followersControllerModel.userId)">Follow
                            </a>
                            <a ng-if="followersControllerModel.isfollowed" href=""
                               class="btn btn-xs btn-warning"
                               ng-click="followersControllerModel.unFollowUser1(followersControllerModel.userId)">UnFollow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div ng-if="followersControllerModel.noFollowers"
                 role="alert"
                 class="alert alert-warning">
                <strong>No Followers!</strong> You do not have any followers yet!
            </div>
            <div class="row" ng-repeat="follower in followersControllerModel.followers">
                <!--<div class="col-sm-3">-->
                <!--<p><img src="//placehold.it/100" class="avatar img-circle" alt="avatar"></p>-->

                <!--<div ng-hide="follower.itsMe">-->
                <!--<a ng-hide="follower.isFollowed" href=""-->
                <!--ng-click="followersControllerModel.followUser(follower)">-->
                <!--<i title="Follow" class="fa fa-user-plus fa-lg"></i>-->
                <!--</a>-->
                <!--<a ng-if="follower.isFollowed" href=""-->
                <!--ng-click="followersControllerModel.unFollowUser(follower)">-->
                <!--<i title="UnFollow" class="fa fa-user-plus fa-lg orangecolor"></i>-->
                <!--</a></div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                <!--<a href="#/{{follower._id}}/view/profile"><p>{{follower.firstName}}&nbsp{{follower.lastName}}</p>-->
                <!--</a>-->
                <!--</div>-->
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object img-circle"
                             ng-src="{{follower.imgUrl}}"
                             height="100" width="100"
                             alt="Generic placeholder image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#/{{follower._id}}/profile/reviews">
                                <p>{{follower.firstName}}&nbsp{{follower.lastName}}</p>
                            </a>
                        </h4>
                        <div ng-hide="follower.itsMe">
                            <a ng-hide="follower.isFollowed" href=""
                               class="btn btn-sm btn-default"
                               ng-click="followersControllerModel.followUser(follower)">Follow
                            </a>
                            <a ng-if="follower.isFollowed" href=""
                               class="btn btn-sm btn-warning"
                               ng-click="followersControllerModel.unFollowUser(follower)">UnFollow
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>