<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/{{followersControllerModel.userId}}/profile">My Profile</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/reviews">Overview</a>
            </li>
            <li>
                <a href="">Favorite Places</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/likes">Likes</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/followers">Followers</a>
            </li>
            <li>
                <a href="#/{{followersControllerModel.userId}}/profile/following">Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <button ng-click="followersControllerModel.toggleMenu()"
            class="btn btn-default"
            id="menu-toggle">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1>Followers</h1>
        <hr>
        <div class="col-xs-12">
            <div class="row" ng-repeat="follower in followersControllerModel.followers">
                <div class="col-sm-3">
                    <p><img src="//placehold.it/100" class="avatar img-circle" alt="avatar"></p>

                    <!--<a ng-if="followersControllerModel.isfollowed ||-->
                    <!--followersControllerModel.currentUser.following.indexOf(follower._id)< 0" href=""-->
                       <!--ng-click="followersControllerModel.followUser(follower._id)">-->
                        <!--<p>Follow</p>-->
                    <!--</a>-->
                    <!--<a ng-if="followersControllerModel.isfollowed ||-->
                    <!--followersControllerModel.currentUser.following.indexOf(follower._id)> -1" href=""-->
                       <!--ng-click="followersControllerModel.unFollowUser(follower._id)">-->
                        <!--<p class="orangecolor">UnFollow</p>-->
                    <!--</a>-->
                </div>
                <div class="col-sm-6">
                    <a href="#/{{follower._id}}/view/profile"><p>{{follower.firstName}}&nbsp{{follower.lastName}}</p></a>
                </div>
            </div>
        </div>
    </div>
</div>