<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/{{followingControllerModel.userId}}/profile">
                    {{followingControllerModel.profileUser.username}} Profile</a>
            </li>
            <li>
                <a href="#/{{followingControllerModel.userId}}/profile/reviews">Reviews</a>
            </li>
            <li>
                <a href="#/{{followingControllerModel.userId}}/profile/likes">Likes</a>
            </li>
            <li>
                <a href="#/{{followingControllerModel.userId}}/profile/followers">Followers</a>
            </li>
            <li ng-class="{'active': followingControllerModel.$location.url() == '/{{followingControllerModel.userId}}/profile/following'}">
                <a href="#/{{followingControllerModel.userId}}/profile/following">Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--<button ng-click="followingControllerModel.toggleMenu()"-->
            <!--class="btn btn-default"-->
            <!--id="menu-toggle">-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1>Following</h1>
        <hr>
        <div class="col-xs-12">
            <div class="row" ng-repeat="following in followingControllerModel.following">
                <!--<div class="col-sm-3">-->
                    <!--<p><img src="//placehold.it/100" class="avatar img-circle" alt="avatar"></p>-->
                    <!--&lt;!&ndash;<a href=""&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-click="followingControllerModel.unFollowUser(following._id)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="orangecolor">UnFollow</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--<div ng-hide="following.itsMe">-->
                        <!--<a ng-hide="following.isFollowed" href=""-->
                           <!--ng-click="followingControllerModel.followUser(following)">-->
                            <!--<i title="Follow" class="fa fa-user-plus fa-lg"></i>-->
                        <!--</a>-->
                        <!--<a ng-if="following.isFollowed" href=""-->
                           <!--ng-click="followingControllerModel.unFollowUser(following)">-->
                            <!--<i title="UnFollow" class="fa fa-user-plus fa-lg orangecolor"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<a href="#/{{following._id}}/view/profile"><p>{{following.firstName}}&nbsp{{following.lastName}}</p></a>-->
                <!--</div>-->
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object img-circle" src="//placehold.it/100" alt="Generic placeholder image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#/{{following._id}}/view/profile">
                                <p>{{following.firstName}}&nbsp{{following.lastName}}</p>
                            </a>
                        </h4>
                        <div ng-hide="following.itsMe">
                            <a ng-hide="following.isFollowed" href=""
                               class="btn btn-sm btn-default"
                               ng-click="followingControllerModel.followUser(following)">Follow
                            </a>
                            <a ng-if="following.isFollowed" href=""
                               class="btn btn-sm btn-warning"
                               ng-click="followingControllerModel.unFollowUser(following)">UnFollow
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>