<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"
                ng-class="{'active': profileControllerModel.$location.url() == '/{{profileControllerModel.userId}}/profile'}">
                <a href="#/{{profileControllerModel.userId}}/profile">
                    {{profileControllerModel.profileUser.username}} Profile</a>
            </li>
            <li ng-class="{'active': profileControllerModel.$location.url() == '/{{profileControllerModel.userId}}/profile/review'}">
                <a href="#/{{profileControllerModel.userId}}/profile/reviews">Reviews</a>
            </li>
            <li ng-class="{'active': profileControllerModel.$location.url() == '/{{profileControllerModel.userId}}/profile/likes'}">
                <a href="#/{{profileControllerModel.userId}}/profile/likes">Likes</a>
            </li>
            <li ng-class="{'active': profileControllerModel.$location.url() == '/{{profileControllerModel.userId}}/profile/followers'}">
                <a href="#/{{profileControllerModel.userId}}/profile/followers">Followers</a>
            </li>
            <li ng-class="{'active': profileControllerModel.$location.url() == '/{{profileControllerModel.userId}}/profile/following'}">
                <a href="#/{{profileControllerModel.userId}}/profile/following">Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--<button ng-click="profileControllerModel.toggleMenu()"-->
            <!--class="btn btn-default"-->
            <!--id="menu-toggle">-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="row">
            <div class="col-xs-6">
                <h2>Edit Profile</h2>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/{{profileControllerModel.userId}}/profile/followers">
                    <p class="lead follow-container">Follower</p></a>
                <span>{{profileControllerModel.profileUser.followers.length}}</span>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/{{profileControllerModel.userId}}/profile/following">
                    <p class="lead follow-container">Following</p></a>
                <span>{{profileControllerModel.profileUser.following.length}}</span>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img ng-src="{{profileControllerModel.currentUser.imgUrl}}"
                             height="200" width="200"
                             class="avatar img-circle">
                    </div>
                </div>
                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <!--<div class="alert alert-info alert-dismissable">-->
                        <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
                        <!--<i class="fa fa-coffee"></i>-->
                        <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Personal Info</h3>
                        </div>
                        <!--<div class="col-xs-6 text-right">-->
                            <!--<p class="lead margin-as-h3">Update Profile</p>-->
                        <!--</div>-->
                    </div>


                    <form action="{{profileControllerModel.updateProfile}}" class="form-horizontal"
                          role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.username"
                                           name="username"
                                           type="text" ng-readonly="profileControllerModel.readonly"
                                           class="form-control"
                                           placeholder="Username"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.firstName"
                                           type="text"
                                           name="firstName"
                                           class="form-control"
                                           placeholder="First name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.lastName"
                                           type="text"
                                           name="lastName"
                                           class="form-control"
                                           placeholder="Last name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.email "
                                           type="email"
                                           name="email"
                                           class="form-control"
                                           placeholder="Email"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.city"
                                           type="text"
                                           name="city"
                                           class="form-control" placeholder="City"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input ng-model="profileControllerModel.currentUser.password"
                                           type="password"
                                           name="password"
                                           class="form-control"
                                           id="password" placeholder="Password"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                     </span>
                                    <input ng-model="profileControllerModel.currentUser.vpassword"
                                           type="password"
                                           name="vpassword"
                                           class="form-control"
                                           id="vpassword" placeholder="Verify Password"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-camera"></i>
                                    </span>
                                    <input type="file"
                                           class="form-control"
                                           name="profilePic"
                                           placeholder="Profile Photo"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8">
                                <!--<a href="" ng-click="profileControllerModel.update(profileControllerModel.currentUser)"-->
                                   <!--class="btn btn-primary">Save Changes</a>-->
                                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                                <!--<span></span>-->
                                <!--<input type="reset" class="btn btn-default" value="Cancel">-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>