<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/{{reviewsControllerModel.userId}}/profile">
                    {{reviewsControllerModel.profileUser.username}} Profile</a>
            </li>
            <li ng-class="{'active': reviewsControllerModel.$location.url() == '/{{reviewsControllerModel.userId}}/profile/reviews'}">
                <a href="#/{{reviewsControllerModel.userId}}/profile/reviews">Reviews</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/likes">Likes</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/followers">Followers</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/following">Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!--<button ng-click="reviewsControllerModel.toggleMenu()" class="btn btn-default" id="menu-toggle">-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
    <!--</button>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!--<h1>Reviews</h1>-->
        <div class="row">
            <div class="col-xs-6">
                <h2>Reviews</h2>
            </div>
            <div class="col-xs-2 text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            </div>
            <div class="col-xs-3">
                <div class="row mar-user-top">
                   <p class="lead">Username:{{reviewsControllerModel.profileUser.username }}</p>
                </div>
                <div class="row">
                    <a ng-hide="reviewsControllerModel.isfollowed" href=""
                       class="btn btn-sm btn-default text-center"
                       ng-click="reviewsControllerModel.followUser(reviewsControllerModel.userId)">Follow
                    </a>
                    <a ng-if="reviewsControllerModel.isfollowed" href=""
                       class="btn btn-sm btn-warning"
                       ng-click="reviewsControllerModel.unFollowUser(reviewsControllerModel.userId)">UnFollow
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-xs-12">
            <div class="row" ng-repeat="review in reviewsControllerModel.reviews">
                <div class="col-sm-3">
                    <div class="text-center">
                        <div class="thumbnail">
                            <a href="#/detail/{{review.restaurant._id}}">
                                <img class="img-responsive" ng-src="{{review.restaurant.imageUrl}}"/>
                            </a>
                            <div class="caption">
                                <a href="#/detail/{{review.restaurant._id}}">{{review.restaurant.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p class="lead">{{review.title}}</p>
                    <p>{{review.review}}</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <p>
                                <ng-rating ng-model="review.rating"
                                           editable="false">
                                </ng-rating>
                                on {{review.updatedOn | date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>