<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/{{reviewsControllerModel.userId}}/profile">My Profile</a>
            </li>
            <li>
                <a href="#/{{reviewsControllerModel.userId}}/profile/reviews">Overview</a>
            </li>
            <li>
                <a href="">Favorite Places</a>
            </li>
            <li>
                <a href="">Likes</a>
            </li>
            <li>
                <a href="">Followers</a>
            </li>
            <li>
                <a href="">Following</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <button ng-click="reviewsControllerModel.toggleMenu()" class="btn btn-default" id="menu-toggle">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1>Reviews</h1>
        <hr>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="http://placehold.it/500x300" class="img-responsive" alt="restaurant"/>
                        <a href="">Restaurant Name</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="http://placehold.it/500x300" class="img-responsive" alt="restaurant"/>
                        <a href="">Restaurant Name</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="http://placehold.it/500x300" class="img-responsive" alt="restaurant"/>
                        <a href="">Restaurant Name</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="http://placehold.it/500x300" class="img-responsive" alt="restaurant"/>
                        <a href="">Restaurant Name</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>