#fpswd{
    float: right;
    margin: 4px 0 10px;
}

.top-margin{
    margin-top: -22px;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
    margin-bottom: 60px;
}

.carousel-control {
    top: 76%;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 500px;
    background-color:#bbb;
    overflow:hidden;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

#searchForm {
    position:absolute;
    top:40%;
    z-index: 1;
}

.searchbox{
    position: absolute;
    top: 200px;
    z-index: 1
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-set{
    margin-left: 0px !important;
}

.margin-set1{
    margin-right: 15px;
}

.nav-margin{
    margin-bottom:1px;
}
.width-colxs12{
    width : 110%;
}
/*!
 * Start Bootstrap - Portfolio Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*body {*/
    /*padding-top: 70px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
/*}*/
.top-margin{
    margin-top: 5px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:translatZ(0) scale(1.05); /* Opera */
    transform:translatZ(0) scale(1.05);
}

.txtonimg{
    z-index: 1;
}

.top-spacing{
    margin-top : 50px;
    padding-top : 10px;
}

.navsearch-margin{
    margin-top: 8px;
}

.margin-lft-searchbox{
    margin-left: -23px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .widthxsscreen{
        padding-left: 0px;
        margin-left: -29px;

    }

    .margin-set1{
        margin-right: 15px;
    }
}

@media only screen and (max-width: 479px) {
    .widthxsscreen {
        margin-left: -34px;
    }

    .margin-set1{
        margin-right: 15px;
    }


}

@media (max-width: 768px) {

    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        max-width:inherit;
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .margin-set{
        margin-left: 5px;
    }
}



@media only screen and (max-width: 767px) {
    .margin-searchbox{
        margin-bottom : 5px;
    }

    .margin-set1{
        margin-right: 15px;
    }

    .margin-set{
        margin-left: 0;
    }

    .margin-set2{
        margin-left: 5px;
    }
}

@media only screen and (max-width: 1200px){
    .width-colxs12{
        width : 110%;
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        width: 90%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {

}