
.carousel {
    height: 100%;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    /*background-position: center;*/
    /*background-size: cover;*/
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
img {
    background: lightgray;
}


.searchbox{
    position: absolute;
    top: 200px;
    z-index: 1
}

.width-colxs12{
    width : 110%;
}

/*Media Queries*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .carousel-inner > .item > img.banner3 {
        content: url("/experiments/angular/angular-api/images/food_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner2 {
        content: url("/experiments/angular/angular-api/images/taco_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner1 {
        content: url("/experiments/angular/angular-api/images/food_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .margin-searchbox {
        margin-bottom: 5px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .carousel-inner > .item > img.banner3 {
        content: url("/experiments/angular/angular-api/images/food_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner2 {
        content: url("/experiments/angular/angular-api/images/taco_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner1 {
        content: url("/experiments/angular/angular-api/images/food_1280x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .widthxsscreen {
        margin-left: -34px;
    }

    .margin-set1{
        margin-right: 15px;
    }

    .carousel-inner > .item > img.banner3 {
        content: url("/experiments/angular/angular-api/images/food_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }

    .carousel-inner > .item > img.banner2 {
        content: url("/experiments/angular/angular-api/images/taco_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner1 {
        content: url("/experiments/angular/angular-api/images/food_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .carousel-inner > .item > img.banner3 {
        content: url("/experiments/angular/angular-api/images/food_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }

    .carousel-inner > .item > img.banner2 {
        content: url("/experiments/angular/angular-api/images/taco_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
    .carousel-inner > .item > img.banner1 {
        content: url("/experiments/angular/angular-api/images/food_640x660.jpg");
        min-width: 100%;
        height: 100%;
        /*background-position: center;*/
        /*background-size: cover;*/
    }
}